[submodule "an-introduction-to-chromatic-solfege"]
	path = an-introduction-to-chromatic-solfege
	url = https://github.com/chromatic-solfege/an-introduction-to-chromatic-solfege
[submodule "chromadoc"]
	path = chromadoc
	url = https://github.com/chromatic-solfege/chromadoc.git
[submodule "chromatic-solfege-for-javascript"]
	path = chromatic-solfege-for-javascript
	url = https://github.com/chromatic-solfege/chromatic-solfege-for-javascript
[submodule "chromatic-solfege-for-lilypond"]
	path = chromatic-solfege-for-lilypond
	url = https://github.com/chromatic-solfege/chromatic-solfege-for-lilypond
[submodule "chromatic-solfege.github.io"]
	path = chromatic-solfege.github.io
	url = https://github.com/chromatic-solfege/chromatic-solfege.github.io
[submodule "chromadoc-examples"]
	path = chromadoc-examples
	url = https://github.com/chromatic-solfege/chromadoc-examples
